
@{
    ViewBag.Title = "Личный кабинет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добро пожаловать в личный кабинет, @User.Identity.Name</h2>


<script type="text/javascript">
    $("div.path").append("Личный кабинет");
</script>