
@{
    ViewBag.Title = "Панель администратора - главная";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="panel-body">
            <div class="row jumbotron">
                <div class="col-xs-12">
                    @using (Html.BeginForm("UploadXls", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" id="ImgExtraFiles" accept="xls,xlsx" name="Sheet" size="40" style="margin: 10px;">
                        <input type="submit" class="btn btn-default btn-sm" value="Загрузить" />
                    }
                </div>
                <div class="col-xs-12" style="margin-top:20px;">
                    <h2>Цены КМ</h2>
                    @using (Html.BeginForm("UploadKMPriceXls", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" id="ImgExtraFiles" accept="xls,xlsx" name="Sheet" size="40" style="margin: 10px;">
                        <input type="submit" class="btn btn-default btn-sm" value="Загрузить" />
                    }
                </div>
                <div class="col-xs-12" style="margin-top:20px;">
                    <h2>Цены Линкер стопы</h2>
                    @using (Html.BeginForm("UploadLincerStopsPriceXls", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" id="ImgExtraFiles" accept="xls,xlsx" name="Sheet" size="40" style="margin: 10px;">
                        <input type="submit" class="btn btn-default btn-sm" value="Загрузить" />
                    }
                </div>
            </div>
            <div class="row jumbotron">
                <div class="col-xs-12">
                    <a class="btn btn-danger" href="@Url.Action("Items","Admin")">Перейти к списку товаров</a>
                </div>
            </div>
            <div class="row jumbotron">
                <div class="col-xs-12">
                    <a class="btn btn-danger" href="@Url.Action("Categories","Admin")">Перейти к списку категорий</a>
                </div>
            </div>
            <div class="row jumbotron">
                <div class="col-xs-12">
                    <a class="btn btn-danger" href="@Url.Action("Orders","Admin")">Перейти к заказам</a>
                </div>
            </div>

</div>
