@model Store.WebUI.Models.LogInModel

@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="parent-center">
    <div class="center-block">
        <div class="auth panel">
            <div class="panel-heading">
                <h2>Вход</h2>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary()
                @using (Html.BeginForm())
                {
                    @Html.EditorForModel(Model);

                    <br />
                    <p>
                        <button type="submit" class="btn btn-success">Войти</button>
                    </p>
                }
            </div>
        </div>
    </div>
</div>