@model Store.WebUI.Models.RegisterModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="parent-center">
    <div class="center-block">
        <div class="auth panel panel-default">
            <div class="panel-heading">
                <h2>Регистрация</h2>
            </div>

            @Html.ValidationSummary(false)

            @using (Html.BeginForm())
            {
                @Html.EditorForModel()
                <br />
                <p>
                    <button type="submit" class="btn btn-success">Зарегистрироваться</button>
                </p>
                <p>
                    <button type="button" class="btn btn-success"><a href="@Url.Action("Index","Item")" class="no-style">На главную</a></button>
                </p>
            }
        </div>
    </div>
</div>