

<div id="carousel" class="carousel slide">
    <ol class="carousel-indicators hidden-xs">
    	<li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item carousel-img active">
            <img src="https://pop-music.ru/images/header/banner/1.jpg" alt="">
        </div>
        <div class="item carousel-img">
            <img src="https://pop-music.ru/images/header/banner/13.jpg"  alt="">
        </div>
        <div class="item carousel-img">
            <img src="https://pop-music.ru/images/header/banner/5.jpg" alt="">
        </div>
    </div>

    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>