
<img class="center-block" id="load" src="/Content/Styles/Img/load.gif" style="max-width:50px;" />
<div class="carousel">
    
</div>

<script type="text/javascript">
    $(function () {
        $('.carousel').slick({
            autoplay: true,
            dots: true,
            slidesToScroll: 1,
            mobileFirst:true,
            infinite: true,
            dots: true,
            responsive: [
                {
                    breakpoint: 900,
                    settings: {
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    });
    function reloadCarousel(data) {
        $('.carousel').slick('slickRemove', '0');
        $("img#load").remove();
        $(data).each(function (i, k) {
            $('.carousel')
                .slick('slickAdd','<div><a href="' + k[0] + '"><img src="' + k[1] + '"/></a></div>');
        });
        //$('.jcarousel').jcarousel('reload');
        //$('.jcarousel').show('slow');
    }
    function reloadCarouselWithText(data) {
        $('.carousel').slick('slickRemove', '0');
        $("img#load").remove();
        $(data).each(function (i, k) {
            $('.carousel')
                .slick('slickAdd', '<div><a href="' + k[0] + '"><img src="' + k[1] + '"/></a>' +
                        '<div class="carousel-item-name">' + k[2] + '</div>' +
                        '<div class="carousel-item-price">' + k[3] + ' руб</div>' +
                    '</div>');
        });
        //$('.jcarousel').jcarousel('reload');
        //$('.jcarousel').show('slow');
    }
</script>