
<div class="jcarousel-wrapper">
    <div class="jcarousel">
        <ul>
        </ul>
    </div>
    <a href="#" class="jcarousel-control-prev" >‹</a>
    <a href="#" class="jcarousel-control-next" >›</a>
    <div class="jcarousel-pagination"></div>
</div>

<script type="text/javascript">
    $(function() {
        $('.jcarousel').jcarousel({
            
        });

        $('.jcarousel-prev').jcarouselControl({
            target: '-=1'
        });

        $('.jcarousel-next').jcarouselControl({
            target: '+=1'
        });

        $('.jcarousel-pagination').jcarouselPagination({
            item: function (page) {
                return '<a href="#' + page + '">' + page + '</a>';
            }
        });
    });
    function reloadCarousel(data) {
        $(data).each(function (i, k) {
            $('.jcarousel ul')
                .append('<li><a href="' + k[0] + '"><img src="' + k[1] + '"/></a></li>');
        });
        $('.jcarousel').jcarousel('reload');
        $('.jcarousel-pagination').jcarouselPagination({
            item: function (page) {
                return '<a href="#' + page + '">' + page + '</a>';
            }
        });
    }
</script>