
<div class="infopanel hidden-xs">
    <div class="infopanel-heading" data-toggle="collapse" data-target="#infopanelbody"><h3 style="padding-left:5px;">Инфопанель</h3></div>
    <div class="infopanel-body collapse in" id="infopanelbody">
        <div class="orders">

            <div class="text-center">Заказы: </div>
            <img src="/Content/Styles/Img/load.gif" />
        </div>

        <div class="calls">

            <div class="text-center">Звонки: </div>
            <img src="/Content/Styles/Img/load.gif" />
        </div>
    </div>
</div>